<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.friday.inter.OutStockMapper" >
  <resultMap id="BaseResultMap" type="com.friday.model.OutStock" >
    <id column="o_id" property="oId" jdbcType="INTEGER" />
    <result column="s_id" property="sId" jdbcType="INTEGER" />
    <result column="o_date" property="oDate" jdbcType="TIMESTAMP" />
    <result column="u_id" property="uId" jdbcType="VARCHAR" />
    <result column="o_bz" property="oBz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    o_id, s_id, o_date, u_id, o_bz
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from outstock
    where o_id = #{oId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from outstock
  </select>
  <select id="selectByShopId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from outstock
    where s_id = #{sId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from outstock
    where o_id = #{oId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="oId" parameterType="com.friday.model.OutStock" >
    insert into outstock (o_id, s_id, o_date, 
      u_id, o_bz)
    values (#{oId,jdbcType=INTEGER}, #{sId,jdbcType=INTEGER}, #{oDate,jdbcType=TIMESTAMP}, 
      #{uId,jdbcType=VARCHAR}, #{oBz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.friday.model.OutStock" >
    insert into outstock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oId != null" >
        o_id,
      </if>
      <if test="sId != null" >
        s_id,
      </if>
      <if test="oDate != null" >
        o_date,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="oBz != null" >
        o_bz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oId != null" >
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="sId != null" >
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="oDate != null" >
        #{oDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="oBz != null" >
        #{oBz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.friday.model.OutStock" >
    update outstock
    <set >
      <if test="sId != null" >
        s_id = #{sId,jdbcType=INTEGER},
      </if>
      <if test="oDate != null" >
        o_date = #{oDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=VARCHAR},
      </if>
      <if test="oBz != null" >
        o_bz = #{oBz,jdbcType=VARCHAR},
      </if>
    </set>
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.friday.model.OutStock" >
    update outstock
    set s_id = #{sId,jdbcType=INTEGER},
      o_date = #{oDate,jdbcType=TIMESTAMP},
      u_id = #{uId,jdbcType=VARCHAR},
      o_bz = #{oBz,jdbcType=VARCHAR}
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
</mapper>