<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/" p:suffix=".jsp">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
	</bean>

	<!-- Spring MVC mapping -->
	<!-- DYH -->
	<bean id="addUserController" class="com.friday.controller.AddUserController" />
	<bean id="loginController" class="com.friday.controller.LoginController" />
	<bean id="logoutController" class="com.friday.controller.LogoutController" />
	<bean id="getProductController" class="com.friday.controller.GetProductController" />
	<bean id="orderProductController" class="com.friday.controller.OrderProductController" />
	<bean id="queryOrderController" class="com.friday.controller.QueryOrderController"></bean>
	<bean id="stockInController" class="com.friday.controller.StockInController"></bean>
	<bean id="goodsBackController" class="com.friday.controller.GoodsBackController"></bean>
	<bean id="getOutProductController" class="com.friday.controller.StockOutGetProductController"></bean>
	<bean id="stockOutController" class="com.friday.controller.StockOutController"></bean>
	<!-- CXW -->
	<bean id="stockLoadController" class="com.friday.controller.StockLoadController"/>
	<bean id="stockQueryController" class="com.friday.controller.StockQueryController"/>
	<bean id="stockWarnController" class="com.friday.controller.StockWarnController"/>
	<!-- CSY -->
	<bean id="modifyPwdController" class="com.friday.controller.ModifyPwdController" />
	<bean id="addStaffController" class="com.friday.controller.AddStaffController" />
	<bean id="addproducttypeController" class="com.friday.controller.AddProductTypeController" />
	<bean id="checktypeController" class="com.friday.controller.AjaxTypeController" />
	<bean id="queryProductTypeController" class="com.friday.controller.QueryProductTypeController" />
	<bean id="deleteProductTypeController" class="com.friday.controller.DeleteProductTypeController" />
	<bean id="showmodifyPTypeController" class="com.friday.controller.ShowMPTypeController" />
	
	
	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
			<!-- DYH -->
				<prop key="/adduser.do">addUserController</prop>
				<prop key="/login.do">loginController</prop>
				<prop key="/logout.do">loginController</prop>
				<prop key="/getproduct.do">getProductController</prop>
				<prop key="/orderproduct.do">orderProductController</prop>
				<prop key="/queryorder.do">queryOrderController</prop>
				<prop key="/stockin.do">stockInController</prop>
				<prop key="/goodsback.do">goodsBackController</prop>
				<prop key="/getoutproduct.do">getOutProductController</prop>
				<prop key="/stockout.do">stockOutController</prop>
			<!-- CXW -->
				<prop key="/stockquery.do">stockQueryController</prop>
				<prop key="/stockload.do">stockLoadController</prop>
				<prop key="/stockwarn.do">stockWarnController</prop>
			<!-- CSY -->
				<prop key="/modifypwd.do">modifyPwdController</prop>
				<prop key="/addstaff.do">addStaffController</prop>
				<prop key="addproducttype.do">addproducttypeController</prop>
				<prop key="checktype.do">checktypeController</prop>
				<prop key="queryalltype.do">queryProductTypeController</prop>
				<prop key="deletetype.do">deleteProductTypeController</prop>
				<prop key="showmodifytype.do">showmodifyPTypeController</prop>
				
			</props>
		</property>
	</bean>
</beans>